<p itemprop="breadcrumb">
	<ol class="breadcrumb">
	{% for breadcrumb in breadcrumb %}
		<li{% if not loop.last %} class="active"{% endif %}>

		{% if breadcrumb.url %}<a href="{{ breadcrumb.url }}" title="{{ breadcrumb.title }}">{% endif %}
			{{ breadcrumb.title }}
		{% if breadcrumb.url %}</a>{% endif %}
		</li>
	{% endfor %}
	</ol>
</p>
